.editRecipeModal{
    display: flex;
    position: absolute;
    flex-direction: column;

    width: 25%;
    z-index: 1;
    background-color: white;
    margin-top: 2em;
    box-shadow: gray 0px 2px 0px 0px;

}

.editRecipeHeader{  
    background-color: khaki;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-shadow: gray 0px 2px 0px 0px;
    

}
.editForm{
    display: table;
    width: 100%;

}

label{
    display:table-cell;
width: 40%;

}

input{
    display: table-cell;
width: 60%;
}

p{
     display: table-row;
    text-align: center;
    width: 100%;

    
}