.editRecipeModal{
    display: flex;
    position: absolute;
    flex-direction: column;

    width: 25%;
    z-index: 1;
    background-color: white;
    margin-top: 2em;

}

.editRecipeHeader{
    background-color: khaki;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

}
.editForm{
    display: table;
    width: 100%;

}

label{
    display:table-cell;
border: 2px solid black ;
width: 40%;

}

input{
    display: table-cell;
    border: 2px solid black ;
width: 60%;
}

p{
     display: table-row;
    background-color: lawngreen;
    text-align: center;
    width: 100%;

    
}