.details{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    box-shadow: gray 2px 2px 0px 0px;

    background-color: lemonchiffon;
}

.delRecipe{
}
.recipeName{
    background-color: khaki;
    box-shadow: gray 0px 2px 0px 0px;
    z-index: 1;


}
.Detail{
    width: 100%;
    height: 50%;
        background-color: lightgoldenrodyellow;
        /* padding-left: 150px; */
            /* margin-left: 150px; */
            /* border: 2px solid black; */
        
}

ul{
    margin-left: 1em;

}
.Procedure{

}


ol{
    margin-left: 1em;
}
.recipeName{
    display: flex;
    align-items: center;
}
.editRecipeBtn{
margin-left: auto;}

.delRecipe{
}


@media(max-width:400px){
    .details{
width: 90%;
height: auto;

    }

    .recipeName{
        display: flex;
        flex-direction: column;
        align-items: center;

}

.editRecipeBtn{
    margin-left: 0;}

}