.details{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    box-shadow: gray 2px 2px 0px 0px;

    background-color: lemonchiffon;
}

.delRecipe{
}
.recipeName{
    background-color: khaki;
    box-shadow: gray 0px 2px 0px 0px;
    z-index: 1;

}
.Detail{
    width: 100%;
    height: 100%;
        background-color: lightgoldenrodyellow;
}
